/*////////////////////////////////*/
/********      RESET       ********/
/*////////////////////////////////*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    cursor: url(/noel/star.png), auto;
}

/*////////////////////////////////*/
/****** Variants réccurents ******/
/*////////////////////////////////*/

#myObject {
    background-color: var(--orange);
    border-radius: 50%;
  }

body {
    --orange : #FF4500;
    --red : #D80027;
    --white : #fff;
    --black: #000000;
    --grey: #292c2f;
    --beige: #f5f5dc;
    --brown: #7f451c;
    font-family: 'Mountains of Christmas';
}

header {
    width: 100%;
    height: auto;
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 2%;
}

header img {
    width: 3vw;
    height: 3vw;
    padding: .1%;
    background: overlay;
    background-color: #FF4500;
    border-radius: 50%;
    transition: .5s all ease-in-out;
}

header img:hover {
    animation: spin 1s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

header h1 {
    color: var(--white);
    margin-left: 35vw;
    font-size: 2.5vw;
}

.calendar-container {
    width: 100%;
    padding: 2% 0%;
    height: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.box {
    width: 15vw;
    height: 15vw;
    margin: 2%;
    position: relative;
}

.box .style-img {
   width: 100%;
   height: 100%;
   padding: 0%;
   object-fit: cover;
}

.box p {
    width: 15%;
    height: 25%;
    margin: 2%;
    color: var(--white);
    font-size: 2.5vw;
    text-align: center;
    border-radius: 50%;
    background-color: var(--red);
    position: absolute;
}

.box_opened {
    width: 15vw;
    height: 15vw;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    color: var(--brown);
    font-size: 1.5vw;
    text-align: center;
}



footer {
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: var(--white);
    font-size: 2.5vw;
}